= simple_form_for([:admin, :dashboard, @task], html: { multipart: true }) do |f|
  = f.input :name, placeholder: "task name"
  = f.input :description, as: :text, input_html: { rows: 7 }, placeholder: "task description"
  = f.input :attachment, as: :file
  = f.input :user_id, collection: User.all.map {|u| [u.email, u.id]}, prompt: "assign to", label: false
  = f.button :submit, class: 'btn btn-primary'
