.container-fluid
  .row
    .col-md-12
      %table.table.table-condensed
        %thead
          %tr
            - if @current_user.is_admin?
              %th e
              %th d
            %th #
            %th Name
            %th.hidden-xs Created
            %th.hidden-xs Assigned To
            %th
        %tbody
          - @tasks.each do |task|
            %tr{class: ("#{state_color(task)}")}
              - if @current_user.is_admin?
                %td
                  = link_to '#' do
                    %i.fa.fa-pencil-square-o
                %td
                  = link_to '#' do
                    %i.fa.fa-times
              %td
                = task.id
              %td
                = link_to task.name, admin_dashboard_task_path(task)
              %td.hidden-xs
                .fa.fa-calendar-check-o
                = task.created_at.strftime('%D')
              %td.hidden-xs
                = task.user.email
              %td.hidden-xs
                = task_controlls(task)
