.container
  .row
    .col-md-7
      %h4
        = @task.id
        = @task.name
      %p
        = @task.description
      %br
      %p
        %h4 Attachment
        = link_to @task.attachment_url do
          = image_tag(@task.attachment_url, class: 'task-img') if @task.attachment.present?

    .col-md-5
      %h4
        = @task.state
      %h4
        = @task.user.email
      %h4
        added:
        = @task.created_at.strftime('%D')
