%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} tm
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if logged_in?
          - if admin?
            %li
              = link_to '+ New Task', new_admin_dashboard_task_path
            %li
              = link_to 'All Tasks', admin_dashboard_tasks_path
            %li
              = link_to 'Users', admin_dashboard_users_path
          - else
            %li
              = link_to '+ New Task', new_dashboard_user_task_path(@current_user)
            %li
              = link_to 'My Tasks', dashboard_user_tasks_path(@current_user)
            %li
              = link_to 'All Tasks', dashboard_tasks_path


      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              -# %li.divider{:role => "separator"}
              %li
                = link_to 'Log out', logout_path
