= simple_form_for([:admin, :dashboard, @user]) do |f|
  = f.input :email, placeholder: "New user rmail"
  = f.input :password, placeholder: "New user password"
  = f.input :role, collection: [:user, :admin], selected: @user.role || :user
  = f.button :submit, class: 'btn btn-primary'
