!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Tm
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - unless controller_name == 'sessions'
      = render 'shared/nav'
    = render 'shared/alerts'

    -# delete this
    - unless current_user
      .container-fluid
        .alert.alert-warning
          %b Admin:
          admin@example.com | admin12345
          %br/
          %b User:
          user@example.com | user12345
    -# end delete this

    = yield
